<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Score Predictor</title>
</head>
<body>

    <h2>Cricket Score Predictor</h2>

    <form action="{{ url_for('predict_datapoint')}}" method="post">

        <label for="battingteam">Batting Team:</label>
        <select name="battingteam" required>
            <option value="ENG">England</option>
            <option value="NZ">New Zealand</option>
            <option value="PAK">Pakistan</option>
            <option value="NED">Netherlands</option>
            <option value="AFG">Afghanistan</option>
            <option value="BAN">Bangladesh</option>
            <option value="SA">South Africa</option>
            <option value="SL">Sri Lanka</option>
            <option value="AUS">Australia</option>
            <option value="IND">India</option>
            <option value="WI">West Indies</option>
            <option value="IRE">Ireland</option>
        </select><br>

        <label for="bowlingteam">Bowling Team:</label>
        <select name="bowlingteam" required>
            <option value="ENG">England</option>
            <option value="NZ">New Zealand</option>
            <option value="PAK">Pakistan</option>
            <option value="NED">Netherlands</option>
            <option value="AFG">Afghanistan</option>
            <option value="BAN">Bangladesh</option>
            <option value="SA">South Africa</option>
            <option value="SL">Sri Lanka</option>
            <option value="AUS">Australia</option>
            <option value="IND">India</option>
            <option value="WI">West Indies</option>
            <option value="IRE">Ireland</option>
        </select><br>

        <label for="overNumber">Over Number:</label>
        <input type="number" id="overNumber" name="overNumber" required><br>

        <label for="runsTillOver">Runs Scored Till That Over:</label>
        <input type="number" id="runsTillOver" name="runsTillOver" required><br>

        <label for="wicketsTillOver">Wickets Taken Till That Over:</label>
        <input type="number" id="wicketsTillOver" name="wicketsTillOver" required><br>

        <label for="runsLast5overs">Runs in Last 5 Overs:</label>
        <input type="number" id="runsLast5overs" name="runsLast5overs" required><br>

        <label for="wicketsLast5overs">Wickets in Last 5 Overs:</label>
        <input type="number" id="wicketsLast5overs" name="wicketsLast5overs" required><br>

        <input type="submit" value="Predict">
    </form>
    <h2>
        The prediction is {{results}}
    </h2>

</body>
</html>
